body {  
    font-family: 'Comic Sans MS', cursive, sans-serif;  
    margin: 0;  
    padding: 0;  
    background-color: #f2f2f2; /* Color de fondo suave para toda la página */  
    color: #333; /* Color de texto principal */  
}  

header {  
    background: #001427; /* Color azul marino para el encabezado */  
    color: white;  
    padding: 30px;  
    text-align: center; /* Centrar texto en el encabezado */  
}  

h1 {  
    margin: 0;  
    font-size: 2em; /* Tamaño de fuente grande para el título principal */  
}   

h3 {  
    font-size: 1.2em; /* Tamaño de fuente para subtítulos */  
}   

p {  
    font-size: 1em; /* Tamaño de fuente estándar para párrafos */  
}  

button {  
    background-color: #BF0603; /* Color rojo para el botón */  
    color: white;  
    padding: 5px 10px; /* Espaciado interno del botón */  
    text-align: center;  
    text-decoration: none;  
    display: inline-block;  
    font-size: 1.2em; /* Tamaño de texto del botón */  
    margin: 20px 2px; /* Margen alrededor del botón */  
    cursor: pointer; /* Cambia el cursor a mano al pasar sobre el botón */  
    border-radius: 25px; /* Bordes redondeados para los botones */  
    transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves al interactuar */  
}  

button:hover {  
    background-color: #8D0801; /* Color más oscuro al pasar el ratón sobre el botón */  
    transform: scale(1.05); /* Aumentar ligeramente el tamaño del botón en hover */  
}  

main {  
    padding: 20px; /* Espaciado del contenido principal */   
    text-align: center; /* Centrar contenido dentro del main */    
}  

.container {  
    position: relative; /* Permite el posicionamiento absoluto de los elementos dentro */  
    width: 100%; /* Ancho total del contenedor */  
    height: 500px; /* Altura fija para el contenedor */  
}  

.overlay-image-container {  
    position: absolute; /* Posicionar la imagen de superposición */  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    pointer-events: none; /* Permitir interacciones con el contenido subyacente */  
    z-index: 1; /* Mantener la imagen debajo del contenido principal */  
}  

.overlay-image {  
    width: 100%; /* Ancho total de la imagen de superposición */  
    height: 100%;  
    opacity: 95%; /* Opacidad de la imagen de superposición */  
    object-fit:cover; /* Ajustar la imagen para cubrir el contenedor */ 
    background-repeat: repeat-y; /* Repite la imagen solo verticalmente */  
    background-size: auto; /* Mantiene el tamaño original de la imagen */  
}  

.modulo {  
    position: relative; /* Posicionamiento para apilar contenido */  
    z-index: 2; /* Mantener el contenido por encima de la imagen de superposición */  
}  

#modulos {  
    position: relative;  
    background: #ffffff; /* Fondo blanco para los módulos */  
    padding: 20px;  
    border-radius: 10px; /* Bordes redondeados para los módulos */  
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra suave para dar profundidad */  
    max-width: 100%; /* Ancho máximo del módulo */  
    margin: 0 auto; /* Centrar módulo en el contenedor */  
    display: flex; /* Usar flexbox para disposición de elementos */  
    flex-direction: column; /* Disposición en columna */  
    align-items: center; /* Centrar elementos horizontalmente */  
    justify-content: center; /* Centrar elementos verticalmente */  
}  


.modulo-info {  
    margin: 0 5%; /* Espaciado lateral para el contenido del módulo */  
}  

.modulo-info h3 {  
    margin: 0; /* Sin margen alrededor del subtítulo */  
    color: #001427; /* Color para subtítulos dentro del módulo */  
}  

.module-btn {  
    background-color: #001427; /* Color azul marino para los botones de módulos */  
    color: white;  
    padding: 10px 20px; /* Tamaño ajustado para el botón */  
    border: none; /* Sin borde */  
    border-radius: 5px; /* Bordes redondeados */  
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */  
    font-size: 16px; /* Tamaño del texto del botón */  
}  

.module-btn:hover {  
    background-color: #8D0801; /* Color más oscuro en hover */  
}  

footer {  
    text-align: center; /* Centrar el texto en el pie de página */  
    padding: 10px;  
    background: #001427; /* Color azul marino para el pie de página */  
    color: white;  
    position: relative;  
    bottom: 0;  
    width: 100%; /* Ancho total del pie de página */  
}  

@media (max-width: 600px) {  
    header, footer {  
        padding: 20px; /* Espacio ajustado para dispositivos pequeños */  
    }  

    button {  
        width: 100%; /* Botón ocupa todo el ancho en dispositivos pequeños */  
    }  

    main {  
        padding: 10px; /* Espaciado reducido para dispositivos pequeños */  
    }  

    .modulo {  
        flex-direction: column; /* Alineación vertical en pantallas pequeñas */  
        align-items: center; /* Centrar módulos horizontalmente */  
    }  

    .modulo-img {  
        width: 80%; /* Ajustar el tamaño de la imagen en móviles */  
        margin-bottom: 10px; /* Espacio inferior para la imagen */  
    }  
    
    h1, h3 {  
        font-size: 1.5em; /* Tamaño de encabezados ajustado para pantallas pequeñas */  
    }  

    p, button {  
        font-size: 1em; /* Tamaño de texto ajustado para legibilidad */  
    }  

    .modulo-info {  
        margin: 0 auto; /* Centrar el contenido en móviles */  
    }  
}  

.progress-bar {  
    width: 100%; /* Ancho total para la barra de progreso */  
    background-color: #e0e0e0; /* Color de fondo de la barra */  
    border-radius: 5px; /* Bordes redondeados para la barra */  
    margin-bottom: 20px; /* Espacio entre la barra y el contenido */  
}  

.progress {  
    height: 25px; /* Altura de la barra de progreso */  
    background-color: #4CAF50; /* Color verde para la barra */  
    color: white;  
    text-align: center; /* Centrar texto dentro de la barra */  
    line-height: 25px; /* Centrando verticalmente el texto */  
    border-radius: 5px;  
    transition: width 0.5s; /* Animación suave al cambiar el ancho */  
}  

.content-details, .activity-details, .game-details {  
    display: none; /* Ocultar detalles por defecto */  
    padding: 10px 0; /* Espacio entre secciones de contenido */  
}  

.toggle-arrow {  
    cursor: pointer; /* Cambiar el cursor al pasar sobre la flecha */  
    font-size: 1.2em; /* Tamaño ajustado para la flecha */  
    margin-left: 10px; /* Espacio a la izquierda de la flecha */  
}  

.toggle-arrow.open {  
    transform: rotate(180deg); /* Animación de rotación para contenido abierto */  
}  

.check-button {  
    background: none; /* Sin fondo para el botón de check */  
    border: none; /* Sin borde para el botón de check */  
    color: green; /* Color verde para el ícono del check */  
    font-size: 1.5em; /* Tamaño del ícono de check */  
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */  
    margin-left: 10px; /* Espacio a la izquierda */  
}  

#resetButton {  
    margin-top: 20px; /* Espacio superior para el botón de reinicio */  
    padding: 10px 15px; /* Espaciado del botón de reinicio */  
    background-color: #f44336; /* Color de fondo rojo */  
    color: white; /* Color de texto blanco para el botón de reinicio */  
    border: none; /* Sin borde para el botón de reinicio */  
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */  
    border-radius: 5px; /* Bordes redondeados para el botón de reinicio */  
}  

.check-button.completed {  
    background-color: #4CAF50; /* Color de fondo verde para el ícono completado */  
    color: white; /* Texto en blanco para el ícono completado */  
}  